.proyects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 240px 0 0;
}

.preview-container {
    width: 50%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles-container {
    width: 50%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.proyects h2 {
    width: 100%;
    font-size: 5vw;
    font-weight: bold;
    font-family: "Share Tech Mono", monospace;
}

.proyects h3 {
    font-size: 1.5vw;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

.year-span {
    display: inline;
    width: 100%;
    color: white;
    font-size: 18px;
}

@media (max-width:550px) {
    .preview-container {
        display: none;
    }

    .titles-container {
        width: 100%;
        padding: 0;
    }

    .proyects h2 {
        font-size: 10dvw;
    }

    .proyects h3 {
        font-size: 3dvw;
    }
}