.proyects {
    width: 100%;
    min-height: 100vh;
}

.proyects-video-container {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e0d27;
    overflow: hidden;
    z-index: -1;
}

.proyects-video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    filter: brightness(15%);
}

.proyects-h1 {
    position: absolute;
    text-align: center;
}

.proyects-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-container,
.proyect-title-container {
    width: 40%;
    height: 70dvh;
    border: 1px solid #ffffff2c;
    margin-top: 50px;
}

@media(max-width:550px) {
    .proyects-h1 {
        top: 100px;
    }
}