.cover {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background-color: #000000;

  .logo-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .lower-logo {
    display: flex;
    gap: 10px;
  }

  .a-element {
    width: 250px;
    color: #ffffff;
    text-align: center;
    font-size: 3.5rem;
  }

  .d-element,
  .e-element,
  .v-element {
    width: 100px;
  }

  .cover-title {
    padding-top: 60px;
    width: 80%;
    font-size: 4.5rem;
    text-align: center;
    color: #ffffff;
  }

  .cover-subtitle {
    color: #ffffff;
    font-size: 2.5rem;
  }

  .cover-link {
    margin-top: 70px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.cover::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  top: 50px;
  left: 0;
  background: linear-gradient(to right, #ff6347, #ff634700);
}


