nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    position: fixed;
}

nav::before {
    content: "";
    width: 35%;
    height: 2px;
    background: linear-gradient(to right, #ff6347, #ff634700);
    border-bottom-right-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

nav::after {
    content: "";
    width: 35%;
    height: 2px;
    background: linear-gradient(to left, #ff6347, #ff634700);
    border-bottom-right-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    stroke-width: 4px;
    cursor: pointer;
}

ul {
    display: flex;
    align-content: center;
    gap: 40px;
    margin-right: 35px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    transition: 0.5s all;
}

a:hover {
    color: #ff6347;
}

.langChanger-barsIcon-date-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language-toggler {
    cursor: pointer;
    transition: 0.5s all;
    color: white;
}

.language-toggler:hover {
    color: #ff6347;
}

.bars-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

@media(max-width:850px) {
    ul {
        display: none;
    }

    .bars-icon {
        display: flex;
    }

    nav::before {
        width: 25%;
    }

    nav::after {
        width: 25%;
    }
}

@media(max-width:450px) {
    nav::before {
        width: 40%;
    }

    nav::after {
        width: 40%;
    }
}